<div class="page-header">
  <%= link_to rasters_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to edit_raster_path(@raster), :class => 'btn btn-primary' do %>
    <i class="icon-pencil icon-white"></i>
    Edit
  <% end %>
  <h1>Listing rasters</h1>
</div>

<dl>
  <dt>Display name:</dt>
  <dd><%= @raster.display_name %></dd>

  <dt>Source file:</dt>
  <dd><%= @raster.source_file %></dd>

  <dt>Pixel size:</dt>
  <dd><%= @raster.pixel_size %></dd>

</dl>
