<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @operation.name %>
</p>

<p>
  <b>Display name:</b>
  <%= @operation.display_name %>
</p>


<%= link_to 'Edit', edit_operation_path(@operation) %> |
<%= link_to 'Back', operations_path %>
